<h2>Add Product</h2>
<div class="row">
    <form action="/add" method="post" id="form4" class="col s12" enctype="multipart/form-data">
        <div class="row">
            <div class="input-field col s6">
                <input placeholder="Name" name="name" type="text" class="validate">
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input placeholder="Shop name" name="shopName" type="text" class="validate">
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input type="number" name="price" placeholder="Price">
            </div>
        </div>
        <div class="row">
            <div class="col s6">
                <input type="file" name="myFile" id="myFile">
            </div>
        </div>
        <button class="btn">Add</button>
    </form>
</div>
